[Unit]
Description=Flask Application
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/opt/flask_app
ExecStart=/usr/bin/python3 /opt/flask_app/app.py
Restart=always
StandardOutput=append:/var/log/flask/app.log
StandardError=append:/var/log/flask/app.log

[Install]
WantedBy=multi-user.target
